In [1]:
# from skimage import io
# img = io.read("image.ext")
# print(img.shape)

# # looking at pixel value
# import pandas as pd
# df = pd.DataFrame(img.flatten())
# filepath = 'pixel_values.xlsx'
# df.to_excel(filepath. index=False)
# print(df)

# # conversion of colors from a format into another format
# from skimage import color
# from skimage import data
# from pylab import *
# # read image
# img = io.imread("image.ext")

# # convert to HSV
# img_hsv = color.rgb2hsv(img)
# # convert back to RGB
# img_rgb = color.hsv2rgb(img_hsv)
# #show both 
# figure(0)
# io.imshow(img_hsv)
# figure(1)
# io.imshow(img_rgb)

In [2]:
# # drawing on images

# from skimage import io
# from skimage import draw

# # line
# img = io.imread("image.ext")
# x, y = draw.line(0, 0, 1000, 1000)
# img[x, y] = 0
# io.imshow(img)

# # rectangle
# def rectangle(x, y, w, h):
#   rr, cc = [x, x+w, x+w, x], [y, y+h, y+h, y]
#   return draw.polygon(rr, cc)

# rr, cc = rectangle(10, 10, 500, 500)
# img[rr, cc] = 1
# io.imshow(img)

# # circle
# x, y = draw.circle(500, 500, 100)
# img[x, y] = 1
# io.imshow(img)

# # beizer 
# x, y = draw.bezier_curve(0,0, 500, 500, 900, 1200, 100)
# img[x,y] = 1
# io.imshow(img)

In [11]:
# a = [1, 1, 1, 0, 1, 0, 0, 1]
# b = [1, 0, 1, 0, 0, 1, 0, 1] 
# # tp is set to 0 to keep count of 0
# # since 0  is positive
# # and 1 is negative
# tp = 0
# fn = 0
# for i in range(len(a)):
#     if (a[i]==0) and a[i] == b[i]:
#         tp+=1
#     elif (a[i] == 0 and b[i] == 1):
#         fn+=1
#     else:
#         pass
# # since recall score  = tp/ tp + fn
# # where tp = True positive 
# # and fn = False negative
# recall_score = tp/(tp + fn)
# print(tp)
# print(fn)
# print(recall_score)

2
1
0.6666666666666666

In [3]:
from skimage import io
from skimage import draw
# from skimage import color
# from skimage import data
# from pylab import *

# img_rgb = color.hsv2rgb(img_hsv)

# figure(0)
# io.imshow(img_hsv)
# figure(1)
# io.imshow(img_rgb)
x, y = draw.line(0,0,1000,1000)
io.imshow([x, y])

AttributeError: 'list' object has no attribute 'dtype'

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
file = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding="latin-1")
file.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [15]:
file["Y2017"].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [16]:
file.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [29]:
file.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [34]:
file.groupby("Item")[["Y2015","Y2018"]].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [45]:
file.groupby(["Element","Area"])["Y2015"].sum()["Protein supply quantity (g/capita/day)"]

Area
Algeria                        377.37
Angola                         214.15
Benin                          271.97
Botswana                       278.52
Burkina Faso                   317.99
Cabo Verde                     278.41
Cameroon                       291.53
Central African Republic       173.70
Chad                           252.28
Congo                          227.08
Côte d'Ivoire                  232.59
Djibouti                       269.59
Egypt                          394.87
Eswatini                       237.71
Ethiopia                       259.82
Gabon                          345.41
Gambia                         257.67
Ghana                          241.71
Guinea                         227.46
Guinea-Bissau                  168.61
Kenya                          251.73
Lesotho                        254.50
Liberia                        159.43
Madagascar                     173.05
Malawi                         272.49
Mali                           319.85
Mauritania                     329.77
Mauritius                      348.06
Morocco                        398.74
Mozambique                     178.39
Namibia                        253.89
Niger                          316.78
Nigeria                        230.08
Rwanda                         238.70
Sao Tome and Principe          211.04
Senegal                        237.77
Sierra Leone                   203.57
South Africa                   345.95
Sudan                          295.08
Togo                           231.59
Tunisia                        401.32
Uganda                         201.20
United Republic of Tanzania    246.35
Zambia                         240.87
Zimbabwe                       175.31
Name: Y2015, dtype: float64

In [86]:
file.groupby(["Area"])[["Area","Y2017"]].sum()

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34

In [141]:
file["Y2014"].isnull().value_counts()

False    59354
True      1589
Name: Y2014, dtype: int64

In [142]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [50]:
my_tuppy = [(2,4),(7,8),(1,5,9)]
x = my_tuppy[1][-1] 
x

8

In [25]:
array  = np.array( [[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

array
array[:2,1:]

array([[89, 63],
       [92, 48]])